{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('asset/css/show.css') }}">
{% endblock %}

{% block body %}
    <header>
        <h1>{{ recipe.name }}</h1>
    </header>
    <div class="banner"></div>
    <div class="container">
        <h3>Infos pratiques :</h3>
            <p>Date de création : {{recipe.createdAt|date('d/m/Y')}}</p>
            {% if recipe.time %}
            <p>Temps de réalisation : {{recipe.time}} minutes</p>
                {% else %}
               Temps non renseigné !
         {% endif %}
         {% if recipe.nbPeople %}
            <p>Pour {{ recipe.nbPeople }} personnes</p>
                {% else %}
               Nombre de personne non renseigné !
                {% endif %}
            {% if recipe.difficulty %}
            <p>Difficulté : {{ recipe.difficulty }}</p>
                {% else %}
               Difficulté non renseignée !
             {% endif %}
         {% if recipe.price %}
            <p>Prix : {{ recipe.price }} €</p>
              {% else %}
              Prix non renseigné !
             {% endif %}
         {% if recipe.description %}
            {% else %}
        Recette non renseignée !
            {% endif %}
         <h3>Ingrédients :</h3>
          <div class="ingredients">
                {% for ingredient in recipe.ingredients %}
                <div class="produits">
                    <img src="{{ asset('asset/upload/' ~ ingredient.images) }}" alt="{{ ingredient.name }}">
                    <p> {{ ingredient.name }}</p>
                </div>
             {% endfor %}
         </div>
          <div>
            <h3>Préparation :</h3>
           <p class="description">{{ recipe.description|nl2br}}</p>
        </div>
    </div>
{% endblock %}